#uvc-header {
    border-radius: 0 !important;
}


div#footerviewlet{
  float:right;

}

#homefolder-contenttypes {
  float: right;
}

#homefolder-contenttypes a:hover {
  color: #666 !important;
}

div#uvc-tabs {
  float:right;
  background-color: #FBFBFB;
  border: 1px solid #DDDDDD;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
}

div#uvc-tabs ul {
  margin-bottom: 1px;
}

.help-button {
  float: right;
}

ul#documentactionsmenuviewlet{
  float: right;
  list-style: none;
  padding-top: 7px;
  margin-bottom: 3px,
}

#uvc-tabs {
  margin-top: -1px;
}

.feature-text {
  color: #7F7F7F;
  font-size: 14px;
  font-weight: 200;
  line-height: 26px;
}

.feature-title {
    color: #3F3F3F;
    margin-bottom: 15px;
}

.form-horizontal .form-group {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.alert-danger {
    padding-left: 1em;
    padding-right: 1em;
}

.help-block {
    margin-bottom: 5px;
    margin-top: 0;
}
