#uvc-header {
    border-radius: 0 !important;
}

div#footerviewlet{
  float:right;

}

#homefolder-contenttypes {
  float: right;
}

#homefolder-contenttypes a:hover {
  color: #666 !important;
}

div#uvc-tabs {
  float:right;
  background-color: #FBFBFB;
  border: 1px solid #DDDDDD;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
}

div#uvc-tabs ul {
  margin-bottom: 1px;
}

.help-button {
  float: right;
}

ul#documentactionsmenuviewlet{
  float: right;
  list-style: none;
  padding-top: 7px;
  margin-bottom: 3px,
}

.feature-text {
  color: #7F7F7F;
  font-size: 14px;
  font-weight: 200;
  line-height: 26px;
}

.feature-title {
    color: #3F3F3F;
    margin-bottom: 15px;
}

.form-horizontal .form-group {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.alert-danger {
    padding-left: 1em;
    padding-right: 1em;
}

.help-block {
    margin-bottom: 5px;
    margin-top: 0;
}

.alert {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.wizard {
    background-color: #f9f9f9;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    overflow: hidden;
    margin-bottom: 20px;
}

.wizard:before, .wizard:after {
    content: " ";
    display: table;
}

.wizard:after {
    clear: both;
}

.wizard:before, .wizard:after {
    content: " ";
    display: table;
}

.wizard:after {
    clear: both;
}

.wizard ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.wizard ul.previous-disabled li.complete {
    cursor: default;
}

.wizard ul.previous-disabled li.complete:hover {
    background: none repeat scroll 0 0 #f3f4f5;
    color: #3c763d;
    cursor: default;
}

.wizard ul.previous-disabled li.complete:hover .chevron:before {
    border-left-color: #f3f4f5;
}

.wizard ul li {
    background: none repeat scroll 0 0 #ededed;
    color: #999999;
    cursor: default;
    float: left;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 10px 0 20px;
    position: relative;
}

.wizard ul li a {
  color: #999999;
}

.wizard ul li .chevron {
    border-color: rgba(0, 0, 0, 0) currentColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid none solid solid;
    border-width: 14px 0 14px 14px;
    display: block;
    position: absolute;
    right: -14px;
    top: 0;
    z-index: 1;
}

.wizard ul li .chevron:before {
    border-color: rgba(0, 0, 0, 0) currentColor rgba(0, 0, 0, 0) #ededed;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 24px 0 24px 14px;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: -24px;
}

.wizard ul li.complete {
    background: none repeat scroll 0 0 #f3f4f5;
    color: #3c763d;
}

.wizard ul li.complete:hover {
    background: none repeat scroll 0 0 #e7eff8;
    cursor: pointer;
}

.wizard ul li.complete:hover .chevron:before {
    border-left: 14px solid #e7eff8;
}

.wizard ul li.complete .chevron:before {
    border-left: 14px solid #f3f4f5;
}

.wizard ul li.active {
    background: none repeat scroll 0 0 #f1f6fc;
    color: #31708f;
}

.wizard ul li.active .chevron:before {
    border-left: 14px solid #f1f6fc;
}

wizard ul li.active {
    background: none repeat scroll 0 0 #f1f6fc;
    color: #31708f;
}

.wizard ul li.active .chevron:before {
    border-left: 14px solid #f1f6fc;
}

.wizard ul li .badge {
    margin-right: 8px;
}

.wizard ul li:first-child {
    border-radius: 4px 0 0 4px;
    padding-left: 10px;
}

.wizard .actions {
    background-color: #e5e5e5;
    float: right;
    line-height: 46px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    vertical-align: middle;
    z-index: 1000;
}

.wizard .actions a {
    font-size: 12px;
    line-height: 45px;
    margin-right: 8px;
}

.wizard .actions .btn-prev i {
    margin-right: 5px;
}

.wizard .actions .btn-next i {
    margin-left: 5px;
}


.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-left: 0px !important;
}

#plugins-panel > .grid > .grid-item {
    padding: 10px;
}

#plugins-panel > .grid > .grid-item > .grid-item-inner {
    display: block;
    padding: 15px;
    border-radius: 8px;
    background-color: #f4f4f4;
    min-height: 120px;
    text-align: center;
    text-decoration: none !important;
    color: #666;
    border: 1px solid #ddd;
}

#plugins-panel > .grid > .grid-item > .grid-item-inner > i {
    display: block;
    margin-top: 10px;
    font-size: 3em;
    color: #888;
}

#plugins-panel > .grid > .grid-item > .grid-item-inner > span {
    display: block;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

#plugin .installed > i {
    color: green;
}

#plugin .not-installed > i {
    color: orange;
}

#plugin #plugin-status {
    margin-top: 2em;
}

#plugin-status dl {
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

#plugin-status dd {
    background-color: white;
    margin-left: 35%;
    border-left: 1px dotted #bdc8ca;
}

#plugin-status dd:after {
    content: "";
    display: block;
    clear: both;
}

#plugin-status dt {
    float: left;
    width: 35%;
    padding-bottom: 0;
}

#plugin-status dt, #plugin-status dd {
    box-sizing: border-box;
    padding: 0.2em 0.5em;
}

#plugin-status dd ~ dt {
    border-top: 1px solid #ddd;
}

#plugin-status dt ~ dd {
    border-top: 1px solid #ddd;
}
